.navbar{
  position: sticky;
  z-index: 900;
  background: rgb(175, 19, 19);
  border-top: 1px solid rgba(174,176,183,.45);
  border-bottom: 1px solid transparent;
  transition: border-bottom-color .8s;
}

.container{
  max-width: 1344px;
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  /*height: 62px;*/
}

.navbar-item{
  display: block;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 2.5rem;
  align-items: center;
  white-space: nowrap;
  line-height: 1.5;
  text-decoration: none;
}